@{
    ViewData["Title"] = "Agregar Pizza";
}

<div class="cuadro">
    <h1>Agregar Nueva Pizza</h1>

    <form method="POST" action='@Url.Action("GuardarPizza", "Home")'>
        <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" name="nombre" />
        </div>

        <div class="form-group">
            <label>Precio</label>
            <input class="form-control" type="number" name="precio" />
        </div>

        <div class="form-group">
            <label>Tamaño</label>
            <select class="form-control" name="tamaño">
                <option value="Grande">Grande</option>
                <option value="Mediana">Mediana</option>
                <option value="Chica">Chica</option>
            </select>
        </div>

        <div class="form-group">
            <label>Url Foto</label>
            <input class="form-control" name="urlfoto" />
        </div>

        <div class="form-group">
            <div class="row">
                @foreach (Ingrediente Ingrediente in ViewBag.Ingredientes){
                    <div class="col-md-3">
                        <label style="cursor:pointer;">
                            <input type="checkbox" name="ingredientes" value="@Ingrediente.Nombre" />
                            @Ingrediente.Nombre
                            <img height="130px" width="100%" src="@Ingrediente.UrlFoto" id="@Ingrediente.Id" class="disabled" />
                        </label>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Agregar Pizza</button>
        </div>
    </form>
</div>

<script>
    const changeOpacity = () => {
        console.log(this);
    }
</script>