@{
    ViewData["Title"] = "Detalle Pizza " + ViewBag.Pizza.Nombre;
}

<div class="cuadro">
    <img height="300px" src="@ViewBag.Pizza.UrlFoto" alt="@ViewBag.Pizza.Nombre">
    <div>
        <h5>Nombre: @ViewBag.Pizza.Nombre</h5>
        <p>Precio: $@ViewBag.Pizza.Precio</p>
        <p>Tamano: @ViewBag.Pizza.Tamano</p>

        <div class="mb-3">
            Ingredientes
            <div class="row">
                @foreach (Ingrediente Ingrediente in ViewBag.Pizza.ListaIngredientes){
                    <div class="col-md-2">
                        @Ingrediente.Nombre
                        <img height="120px" width="100%" src="@Ingrediente.UrlFoto" />
                    </div>
                }
            </div>
        </div>

        <a href='@Url.Action("Index", "Home")' class="btn btn-secondary">Volver</a>
        <a href='@Url.Action("EliminarPizza", "Home", new { id = @ViewBag.Pizza.Id })' class="btn btn-danger">Eliminar</a>
    </div>
</div>