@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <h3>Error: @ViewBag.Error</h3>
    </div>
}

<div class="button-crear-pizza-container">
    <a class="button button-crear-pizza" asp-controller="Home" asp-action="AgregarPizza">
        <span>Crear Pizza</span>
    </a>
</div>

<div class="row" style="margin-top:100px;">
    @foreach (Pizza pizza in ViewBag.Pizzas){
        <div class="col-sm-12 col-lg-3 mb-3">
            <div class="cuadro">
                <img class="w-100 img-pizza" src="@pizza.UrlFoto" alt="@pizza.Nombre">
                <div>
                    <h5>@pizza.Nombre</h5>
                    <p>$@pizza.Precio</p>
                    <a href='@Url.Action("VerPizza", "Home", new { id = @pizza.Id })' class="btn btn-primary">Ver</a>
                    <a href='@Url.Action("EliminarPizza", "Home", new { id = @pizza.Id })' class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>